body{
    font-family: 'Lobster', cursive;
    background-color: rgb(255, 239, 239);
}
.titulo{
    display: flex;
    justify-content: center;
    padding: 0rem;
}
.dog2{
    padding: 2.5rem;
    max-width: 20rem;
    
}
.stickers-container{
    display: flex;
}

.sticker{
    display: flex;
    flex-direction: column;
    align-items: center;
}
